.root-layout {
}

.root-header {
}

.root-header__inner {
}

.root-header__brand {
}

.root-header__logo {
}

.root-nav {
}

.root-nav__item {
}

.root-nav__search-trigger {
}

.root-nav__profile {
}

.root-nav__avatar {
}

.root-gnb {
}

.root-gnb__item {
}

.root-content {
}
